<div class="container">
  Action Cable:
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>title</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td id="stock_name"><%#= image_tag "https://www.researchgate.net/publication/224624453/figure/fig1/AS:393833717223438@1470908683517/Original-colour-bar-static-test-image-used-in-analogue-television-II-METHODOLOGY.png" %></td>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- <img src="https://www.researchgate.net/publication/224624453/figure/fig1/AS:393833717223438@1470908683517/Original-colour-bar-static-test-image-used-in-analogue-television-II-METHODOLOGY.png"> -->
